*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}

/****************CONTAINER***************************************************************************************************/
#container{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    justify-content: center;
    align-items:flex-start;
    overflow:hidden;/*Estaba en scroll pero se quedaba feote*/
    margin-top: 5em;
    margin-bottom: 5em;
    background-color: black;
}
#presentacion {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    justify-content: center;
}
#presentacion #avatar{
    width: 15%;
    height: 20vw;
    background-color: black;
}
#presentacion #avatar figure{
    height: 100%;
    width: 100%;
}
#presentacion #avatar figure img{
    height: 100%;
    width: 100%;
}
#presentacion #quienSoy{
    display: flex;
    margin-left: 2%;
    width: 80%;
    height: 20vw;
    background-color:black;
    font-size:calc(1em + 1vw);
    color:white;
    text-align: center;
    align-items: center;
}

.descripcion ul{
    margin-left: 0.5em;
    list-style: none;
    width: 14em;
    margin: auto;
    
}
.descripcion li{
   display: inline-block;
   padding-left: 1em;
   margin-left: auto;
   margin-right: auto;
}
.descripcion img{
    height: 2em;
    width: 2em;
}
.descripcion p{
    text-align: center;
}
.descripcion {
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
    font-size:calc(1em + 1vw);
    margin-top: 2em;
    background-color: black;
    color: white;
}
#video-a,#video-b,#video-c{
    display: none;
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    font-size:calc(1em + 1vw);
}
#video-a img,#video-b img,#video-c img{
    width: 2em;
    height: 2em;
}
#video-a figure,#video-b figure,#video-c figure{
    width: 2em;
    height: 2em;
    margin:auto;
    margin-bottom: 1em;
}

#video-a video,#video-b video,#video-c video{
    width: 100%;
    height: 100%;
}
.descripcion img{
    width: 2em;
    height: 2em;
}
.descripcion figure{
    width: 2em;
    height: 2em;
    margin: auto;
    margin-top: 2em;
}
#galeria-d{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: black; 
    justify-content: center;
}
#galeria-d figure{
    width: 25vw;
    height: 20vw;
    border:1px solid black;
    margin-left: 0.5em;
}
#galeria-d figure img{
    width: 100%;
    height: 100%;
    border:1px solid black;
    margin-left: 0.5em;
}
/*#presentacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    border:3px solid rgb(72,219,180);
    width: 800vw;
    max-width: 1000px;
    min-width: 320px;/*Télefonos*
    height: calc(100vh - 4rem);
    max-height: fit-content;
    margin: auto;
    overflow: hidden;
    background-color: red;
}*/

/*#presentacion #descripcion{
    width: 100%;
    height: auto;
    font-size:calc(1em + 1vw);
    text-align: center;
    color:white;
    border:1px solid red;
    overflow: auto;
}
/*---------------VIDEO_1-------------------------------------------------------------------------------------------
#arduino{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:3px solid rgb(72,219,180);
    width: 40vw;
    max-width: 1000px;
    min-width: 320px;/*Télefonos
    margin: auto;
    min-height: calc(100% - 4rem);
    margin-top: 2%;
    overflow: hidden;
   
}
#arduino #calculator {
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
}
#arduino #calculator video{
    width: 100%;
    height: 100%;
}
#arduino #descripcion{
    width: 100%;
    height: auto;
    font-size:calc(1em + 1vw);
    text-align: center;
    margin: auto;
    color:white;
}*/